<p id="notice"><%= notice %></p>

<h1>Feeds</h1>
<div class="container">

    <ul class="row">
      <li class="col-xs-3">Title</li>
      <li class="col-xs-3">Content</li>
      <li class="col-xs-3">Contributor</li>
    </ul>



    <% @feeds.each do |feed| %>
    <ul class="row">
        <li class="col-xs-3"><%= feed.title %></li>
        <li class="col-xs-3"><%= feed.content %></li>

        <li class="col-xs-3"><%= feed.user.name %></li>

        <li class="col-xs-1"><%= link_to 'Show', feed %></li>
        <li class="col-xs-1"><%= link_to 'Edit', edit_feed_path(feed) %></li>
        <li class="col-xs-1"><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
    <% end %>

</div>
<br>

<%= link_to 'New Feed', new_feed_path %>
