<h1>New Feed</h1>

<%= form_with(model: @feed, local: true) do |form| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= @feed.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= render 'form', feed: @feed %>

<%= link_to 'Back', feeds_path %>
