<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @feed.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @feed.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @feed.image.url %>
</p>

<% if @feed.user_id == current_user.id %>
<%= link_to 'Edit', edit_feed_path(@feed) %> |
<% end %>
<%= link_to 'Back', feeds_path %>
