<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<p id="notice"><%= notice %></p>
<p>
  <strong>Image:</strong>
  <%= image_tag @user.image.url %>
</p>
<p>
<%= link_to 'Favorites', user_favorites_path(@user) %>
</p>
<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
